
<%- include('../partials/header.ejs') %>

<main class="entry">
    <section class="create-connection-form">

        <h2 style="text-align: center;">Edit <%= connection.title %>  </h2>
        <form action="/connections/<%= connection._id %>?_method=PUT" method="post">

        <!-- <form action="/connections/<%= connection._id %>?_method=PUT" enctype="multipart/form-data" method="POST" > -->

<!----------------Category------------------->
<h5><label >Category</label></h5>
<select id="category" name="category" required>
    <option value="" disabled required>----Select the Category----</option>
                    <option value="Committee Events" <%= connection.category === 'Committee Events' ? 'selected' : '' %>>Committee Events</option>
                    <option value="Group Events" <%= connection.category === 'Group Events' ? 'selected' : '' %>>Group Events</option>
                    <option value="On-Campus Events" <%= connection.category === 'On-Campus Events' ? 'selected' : '' %>>On-Campus Events</option>
                    <option value="Off-Campus Events" <%= connection.category === 'Off-Campus Events' ? 'selected' : '' %>>Off-Campus Events</option>
                    <option value="Festival Meet" <%= connection.category === 'Festival Meet' ? 'selected' : '' %>>Festival Meet</option>

</select>
    <!----------------Title------------------->
<h5><label for="title">Title</label></h5>
<input type="text" id="title" name="title" placeholder="Enter the title of your event" required value="<%= connection.title %>">

    <!----------------HostedBy------------------->

<!-- <h5><label for="host">Host</label></h5>
<input type="text" id="hostedBy" name="hostedBy" placeholder="Enter the host of the event" required value="<%= connection.hostedBy%>"> -->

<!----------------Location------------------->

<h5><label for="where">Location</label></h5>
<input type="text" id="where" name="where" placeholder="Enter the location of the event" required value="<%= connection.where%>">


<!----------------Date------------------->

<!-- <h5><label for="date">Date</label></h5>
<input type="date" id="date" name="date" required value="<%= connection.date %>"> -->

 <!----------------StartTime------------------->

<!-- <h5><label for="time">Start Time</label></h5>
<input type="time" id="starttime" name="starttime" required value="<%= connection.starttime %>"> -->

<!----------------EndTime------------------->

<!-- <h5><label for="time">End Time</label></h5>
<input type="time" id="endtime" name="endtime" required value="<%= connection.endtime %>"> -->

<!-- --------------Start Date & Time----------------->
<h5><label for="startDateTime">Start Date & Time</label></h5>
<input type="datetime-local" id="startDateTime" name="startDateTime" required value="<%= connection.startDateTime %>">

<!--------------End Date & Time------------------->
<h5><label for="endDateTime">End Date & Time</label></h5>
<input type="datetime-local" id="endDateTime" name="endDateTime" required value="<%= connection.endDateTime %>">

 <!----------------Contact------------------->

<h5><label for="contactPerson">Contact Person</label></h5>
<input type="tel" id="contactPerson" name="contactPerson" required value="<%= connection.contactPerson%>">

     <!----------------E-mail------------------->

<h5><label for="email">E-mail</label></h5>
<input type="email" id="email" name="email" required value="<%= connection.email%>">

    <!----------------Details------------------->

<h5><label for="details">Details</label></h5>
<input type="text" id="details" name="details" rows="4" required value="<%= connection.details%>">

      <!----------------Image------------------->
<div class="file">
    <!-- <h5><label for="image">Image</label>
        <input type="file" id="image" name="image" required>  -->
        <button type="submit" name = "submit" style="margin-top: 40px;">Save Changes </button>
</div>




</form>

</section>

</main>


<%- include('../partials/footer.ejs') %>


